<link rel="stylesheet" href="/css/cart.css">
<style>
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        margin: auto;
    }

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #000;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(24px, 0);
        }
    }
</style>
<main>
    <h1>Carrito de compras</h1>
    <section class="product-container-cart" id="{{session.user.cart}}">
        {{#each products as |product|}}
        <div class="product" id="{{product._id}}">
            <div class="product-info">
                <img src="{{product.thumbnail}}" alt="productIMG">
                <div class="product-text">
                    <h3>{{product.name}}</h3>
                    <p>${{product.price}}</p>
                    {{#if (moreThanOne product.quantity)}}
                    <small>{{product.quantity}} unidades</small>
                    {{else}}
                    <small>{{product.quantity}} unidad</small>
                    {{/if}}
                </div>
            </div>
            <div class="product-buttons">
                <button class="restToCart">-</button>
                <button class="addToCart">+</button>
            </div>
        </div>
        {{/each}}
        {{#if products}}
        <button class="end">Finalizar compra</button>
        {{else}}
        <p style="text-align: center;">No tienes productos en el carrito.</p>
        {{/if}}
    </section>

</main>

<script src="/js/cart.js"></script>