<link rel="stylesheet" href="/css/home.css">
<main>
    <h1>Inicio</h1>
    <section class="product-container-home" id="{{session.user.cart}}">
        {{#each products as |product|}}
        <div class="product" id="{{product._id}}">
            <img src="{{product.thumbnail}}" alt="productIMG">
            <div class="product-text">
                <h3>{{product.name}}</h3>
                <p>${{product.price}}</p>
                <small>{{product.stock}} unidades</small>
            </div>
            {{#if ../session.user.name }}
            <button class="addToCart">Agregar al carrito</button>
            {{/if}}
        </div>
        {{/each}}
    </section>
</main>

<script src="/js/home.js"></script>